<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <p th:if="${score}>=90">优秀</p>-->
<!--    <p th:if="${score}<90">良好</p>-->
<!--    <p th:unless="${score}<90">优秀</p>-->
<!--    <p th:unless="${score}>=90">良好</p>-->
<!--    <div th:switch="${studentId}">-->
<!--        <p th:case="1">张三</p>-->
<!--        <p th:case="2">李四</p>-->
<!--        <p th:case="3">王五</p>-->
<!--    </div>-->
<!--    <form th:action="@{/hello/login}" method="post">-->
<!--        <input type="submit"/>-->
<!--    </form>-->
<!--    <form th:action="${url}" method="post">-->
<!--        <input type="submit"/>-->
<!--    </form>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <th>编号</th>-->
<!--            <th>姓名</th>-->
<!--        </tr>-->
<!--        <tr th:each="user:${list}">-->
<!--            <td th:text="${user.id}"/>-->
<!--            <td th:text="${user.name}"></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <input type="text" th:value="${value}"/>-->
<!--    <img th:src="${src}"/>-->
    <img src="1.png"/>
</body>
</html>